html {
  font-family: "IBM Plex Sans", sans-serif;
}

body {
  background-color: #ddd;
}

table,
ul {
  background-color: #fff;
}

table {
  width: auto;
  max-width: 100%;
}

.search {
  width: 5%;
}

.logo {
  max-width: 200px;
}

.nearest {
  background-color: #efefef;
}
